{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} | Accueil {% endblock %}

{% block body %}
    <img src="{{ asset('img/LogoDame.jpg') }}" alt="DAME">
    <h1>prova h1 in faster one</h1>
    <h2>prova h2 in racing sans one</h2>
{% endblock %}