/*reference for googlefont*/
/*font-family: 'Faster One', cursive;*/
/*font-family: 'Racing Sans One', cursive;*/
/*font-family: 'Nunito', sans-serif;*/


body{
    /*background: linear-gradient(#FFFFFF, #999999);*/
    /*background-color: #B0413E;*/
    font-family: 'Nunito', sans-serif;
    /*font-weight: bold;*/
}

#base {
    /*background: linear-gradient(#FFFFFF, #999999);*/
    background-color: #ffffff;
}

.carlo{
    font-family: 'Faster One', cursive;
    color: #B0413E;

}

h1{
    font-family: 'Faster One', cursive;
}

h2{
    font-family: 'Racing Sans One', cursive;
}

a.listTitle:link, a.listTitle:visited, a.listTitle:active {
    text-decoration: none;
}

.listTitle{
    font-family: 'Racing Sans One', cursive;
    color: #FFFFFF;
}

a.listTitle:hover {
    color: #FFFFFF;
}

.subtitleDetail {
    font-family: 'Racing Sans One', cursive;
    /*font-weight: lighter;*/
    font-size: 140%;
    color: #da3545;
}

#map{
    height: 200px;
    border: 2px solid yellow;
}

.leaflet-container {
    height: 600px;
    width: 400px;
    max-width: 100%;
    max-height: 100%;
}

.flash{
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
}

.flash-success{
    background-color: lawngreen;
}

.avatarnav {
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 10px 10px;

}