<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="Accueil">Accueil</a></li>
{#        <li><a href="{{ path('legs_list') }}" title="Liste des etapes">Liste des Etapes</a></li>#}
{#        <li><a href="{{ path('stop_create') }}" title="Création d'une nouvelle étape">Une nouvelle étape</a></li>#}
{#        <li><a href="{{ path('leg_create') }}" title="Création d'un nouveau parcour">Un nouveau parcours</a></li>#}
        <li><a href="#" title="Voyage">Voyages</a></li>
        <li><a href="#" title="Autre">Autre</a></li>
    </ul>
</nav>